[DEFAULT]
BLACKLIST   = blacklist.txt
WHITELIST   = whitelist.txt

[ACCOUNT1]
HOST        = imap.account1.com
USERNAME    = user1
PASSWORD    = password1
FOLDER      = Spam,Blacklist
INBOX       = INBOX

[ACCOUNT2]
HOST        = imap.account2.com
USERNAME    = user2
PASSWORD    = password2
FOLDER      = Spam
BLACKLIST   = blacklist2.txt
INBOX       = INBOX
